
<div class="container">
  <!--
        <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>
      -->

    
        <button type="button" class="btn btn-success btn-sm"> <a  href="/pets/addNewPet"> Add New Pet </a></button>		 
        <br/> <br/>
        <!--/stories-->
          <table  class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Breed</th>
           <!--   <th scope="col">Location</th>  -->
              <th scope="col">Latitude</th>
              <th scope="col">Longitude</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          <%for(let i=0;i<pets.length;i++) {%>       
            <tr>
              <th scope="row"><%=pets[i].name%></th>
              <td><%=pets[i].type%></td>
              <td><%=pets[i].breed%></td>
             <!--  <td><%=pets[i].location%></td> -->
              <td><%=pets[i].latitude%></td>
              <td><%=pets[i].longitude%></td> 
              <td>
              <a href="/pets/viewPetLocWeather/<%=pets[i].id%>/<%=pets[i].latitude%>/<%=pets[i].longitude%>" class="text-muted">View</a></td>
            </tr>
            <%}%>
          </tbody>
        </table>
          
      
          <!--/stories-->                                
     
</div>
                                                
   